<!-- Templates to show list of localities -->
{% if regions_list %}
    <ul>
    
    {% for region in regions_list %}
        {# 'if' takes localities what are cities or villages  #}
        {% if region.number and region.parent_id %}
            <li>
                {{ region.title }} {{region.locality_type}}
                {% if request.user.is_superuser %}
                <a href="{% url 'regions:locality_update' region.id %}">Edit</a>
                <a href="{% url 'regions:locality_delete' region.id %}">Delete</a>
                {% endif %}
            </li>
        {% else %}
            <li>
                <a href="{% url 'regions:locality' region.id %}">{{ region.title }} {{region.locality_type}}</a>
                {% if request.user.is_superuser %}
                <a href="{% url 'regions:locality_update' region.id %}">Edit</a>
                <a href="{% url 'regions:locality_delete' region.id %}">Delete</a>
                {% endif %}
            </li>
        {% endif %}

    {% endfor %}
    </ul>
    {% if request.user.is_superuser %}
        <h3><a href="{% url 'regions:locality_create' %}">Add new locality</a></h3>
    {% endif %}
{% else %}
    <p>No regions are available.</p>
{% endif %}

