<!-- Template to delete locality -->
<form method="post">
     {% csrf_token %}
    <p>Are you sure you want to delete {{ object.title }}?</p>
    <input type="submit" value="yes" />
</form>

<button>
    <a href="{% url 'regions:index' %}" style="text-decoration: none">no</a>
</button>
